*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbarContainer{
    margin-top: 24px;
}
#topHeader{
    display: flex;
    
}

.topHeaderDesc{
    width: 100%;
    margin-bottom: 21px;
}
.topHeaderDesc>img{
    padding: 0px 55px 0px 100px;
    float: left;
    margin-top: -23px;
}
.topHeaderDesc>p{
    font-size: 30px;
    margin: 25px 0px 0px 0px;
    color: white;
    letter-spacing: 6px;
    margin-bottom: 1px;
    text-transform: uppercase;
    background-color: #0954a7;
}
.topHeaderDesc>span{
    text-transform: capitalize;
    font-size: 17px;
    font-family: arial;
    padding-left: 20px;
}

/* navbar */
.displayCollapse{
    position: absolute;
    top: 38px;
    z-index: 5;
}
.menuItem li{
    list-style: none;
    width: 200px;
    margin-right: 2px;
    position: relative;
}
.menuItem>li a {
    width: 200px;
    background: #0954a7;
    text-align: center;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: Arial;
    margin-top: 2px;
    font-weight: 600;
    margin-right: 2px;
}


.subMenu1{
display: none;
position: absolute;
z-index: 1;
}

.subMenu2{
    display: none;
    position: absolute;
z-index: 1;
    }
    .subMenu3{
        display: none;
        position: absolute;
z-index: 1;
        }   
.menuItem>li a:hover{
    color: #0954a7;
    display: block;
    background-color: #bddaff;
}
.menuItem>li:hover .subMenu1 {
display: block;

}
.menuItem>li:hover .subMenu2 {
    display: block;
    }
    .menuItem>li:hover .subMenu3 {
        display: block;
      }


      /* slider start */
      

.flex-container a:active,
.flexslider a:active {outline: none;}
.slides
{margin: 0; padding: 0; list-style: none;} 
.flex-control-nav,
.flex-direction-nav {
    display: none;
}

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {
    position: relative;
    zoom: 1;
    margin-left: 16px;
    margin-top: 65px;
 
}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block; border:10px #ededed solid;}
.flex-pauseplay span {text-transform: capitalize;}
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}
.no-js .slides > li:first-child {display: block;}
.flexslider {position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
.flex-container {zoom: 1; position: relative;}


/* Control Nav */

#form-wrapp {
    width: 265px;
    height: 387px;
    margin-top: 65px;
    background: #bddaff;
    border-radius: 3px;
    position: relative;
    padding: 0px 0 0 10px;
}

#searchfields {
    color: #000;
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    font-size: 11px;
    height: 12px;
    margin-bottom: 3px;
    margin-top: 3px;
}
form{
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    font-weight: 400;
    text-transform: none;
}


table>tbody>tr>td span{
    font-size: 15px;
}
table>tbody>tr>td {
    margin-right: 20px;
}

.button{
    background-color: #0954a7;
    color: white;
    font-size: 15px;
    margin: 0 auto;
    margin-left: 25%;


}

#mainbanner>h1{
    color: #0954a7;
    margin-top: 1vw;
    text-align: center;
}
#mainbanner>h3{
    text-align: center;
}
.pop-out {
    transition: transform .5s;
}
.pop-out:hover {
    -ms-transform: scale(1.4, 1.4);
    /* -webkit-transform: scale(2, 2); */
    transform: scale(1.4, 1.4);
}
.desc>h2{
    color: #0954a7;
    text-align: center;
}
.desc>p{
  font-size: 20px;
    text-align: center;
}
#newsblck {
   
    padding-bottom: 10px;
}


.footerimage>div>img{
    width: 100%;
}

#content>p{
    font-size: 15px;
    margin-bottom: 10px;
}
#st-wrapp table {
    width: 976px;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    border-spacing: 0;
}
.fb-like{
    padding-bottom:2px;
    vertical-align:middle;
    text-align:center;
    position: relative;
    bottom:7px
    }
    #footer {
        height: 259px;
        width: 100%;
        background-image: url(../images/footer-backg2x-1.jpg);
        background-repeat: repeat-x;
        margin-top: 20px;
        background-position: center bottom;
    }
    .footerimage {
        margin: 47px 0;
    }
    div#inner {
        position: relative;
        top: 55px;
        color: white;
        text-align: center;

    }
    div#inner>a {
       font-weight: bold;
        font-style: italic;
        color: white;
    }









/* Media Queries
/*-----------------------------------------------------------------------------------*/




/* slider end */
/* responsive start */

@media only screen and (max-width: 992px) {

    .slider_container{ width:100%; margin:0 0 0 2%; clear:both; background:none; padding:30px 0 0 0;}
    .flexslider {width: 100%; margin: 0; padding:0 0 30px 0;background:none;}
    .topHeaderDesc>p {
        font-size: 24px;
        margin: 25px 0px 0px 0px;
        letter-spacing: 4px;
     
    }
    .topHeaderDesc>img {
        padding: 0px 55px 0px 100px;
        height: 80px;
    }
    .topHeaderDesc>span {
        font-size: 16px;
        font-family: arial;
        padding-left: 20px;
    }
    .menuItem li {
        width: 150px;
    }
    .menuItem li> a {
       font-size: 10px;
       width: 150px;
    }
    .slider_container{
        margin-top: 32px;
    }
    #form-wrapp {
        width: 100%;
         margin-top: -25px;
 
    }
    table{
        margin: auto;
    };
   
  }
@media only screen and (max-width: 768px) {

    
    .topHeaderDesc>img{
        padding: 0px 25px 0px 25px;
        height: 60px;
        margin-top: 2px;
    }
    .topHeaderDesc>p{
        font-size: 26px;
        margin: 15px 0px 0px 0px;
        letter-spacing: 4px;
    }
    .menuItem li {
        width: 100px;
    }
    .menuItem li> a {
       font-size: 7px;
       width: 100px;
    }
    .slider_container{
        margin-top: 24px;
    }
    
  }

  @media only screen and (max-width: 576px) {
    .topHeaderDesc>img{
        padding: 0px 13px 0px 0px;
        height: 60px;
        margin-top: 6px;
    }
    .topHeaderDesc>p {
        font-size: 13px;
        margin: 10px 0px 0px 0px;
        letter-spacing: 0px;
    }
    .topHeaderDesc>span {
        font-size: 11px;
        font-family: arial;
        padding-left: 0px;
    }
    .menuItem li {
        width: 155px;
    }
    .menuItem li> a {
       font-size: 10px;
       width: 155px;
    }
   .slider_container {
    margin-top: -9px;
    padding-top: 0px;
}
    
    #form-wrapp {
        width: 100%;
         margin-top: -25px;
 
    }
    #mainbanner>h1 {  
   font-size: 20px;
    }
    #mainbanner>h3 {
       
        font-size: 15px;
    }
    .desc>h2 {
        font-size: 20px;
    }
    .desc>p {
        font-size: 15px;
    }
    table{
        margin: auto;
    }
  
  
  }
  /* responsive end */